#toggleMode, #backButton {
    padding: 10px;
    background-color: aqua;
    cursor: pointer;
    margin: 10px;
}

#toggleMode:hover, #backButton:hover {
    background-color: #008080;
}

#postsContainer, div {
    border: 5px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

div h2 {
    
}