form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 15px;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: aqua;
    cursor: pointer
}

button:hover {
    background-color: teal;
}