body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
    background-color: magenta;
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
}